<div class="question-container">
    <div class="col-md-6 col-md-offset-3">
        <h2>Insert question</h2>

        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
             ng-if="flash" ng-bind="flash.message">
        </div>
        <form name="form" ng-submit="sq()" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.questiontext.$dirty && form.questiontext.$error.required }">
                <label for="questiontext">Question text</label>
                <textarea class="form-control" rows="5" id="questiontext" name="questiontext" ng-model="formInput.text" required></textarea>
                <span ng-show="form.questiontext.$dirty && form.questiontext.$error.required" class="help-block">The text of the question is required!</span>
            </div>
            <div class="form-group">
                <label>Answers list:</label>
                <div class="row answer-container" ng-repeat="answer in formInput.answers track by $index">
                    <div class="col-xs-3 col-sm-2">
                        <div class="checkbox">
                            <input type="radio" ng-model="$parent.formInput.solution" value="{{answer.num}}" id="answer.response{{$index}}" name="answer.response{{$index}}">
                            <label for="answer.response{{$index}}">Set as <b>Rigth answer</b></label>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-2">
                        <div class="form-group">
                            <label for="answer.type{{$index}}">Type</label>
                            <select class="form-control" id="answer.type{{$index}}" name="answer.type{{$index}}" ng-model="answer.type" required>
                                <option value="{{type}}" ng-repeat="type in possibleType">{{type}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <div class="form-group">
                            <label class="text-label" for="answer.text{{$index}}">{{answer.type}}</label>
                            <div class="answer-text-container">
                                <input type="text" name="answer.text{{$index}}" id="answer.text{{$index}}" class="form-control answer-text" ng-model="answer.text" required />
                                <span class="fa fa-plus" aria-hidden="true" ng-click="addAnswer()" ng-if="($index + 1) == formInput.answers.length"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.difficulty.$dirty && form.difficulty.$error.required }">
                <label for="difficulty">Tipo di giocatore (select one):</label>
                <select class="form-control" id="difficulty" name="difficulty" ng-model="formInput.difficulty" required>
                    <option value="{{$index}}" ng-repeat="dif in diff track by $index">{{dif}}</option>
                </select>
                <span ng-show="form.difficulty.$dirty && form.difficulty.$error.required" class="help-block">typeOfPlayer is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Send question</button>
                <img ng-if="dataLoading" class="loading" />
            </div>
        </form>
    </div>
</div>